# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / build directories
dist/
build/
*.egg-info/

# Virtual environment
venv/
.venv/

# PyArmor files
pyarmor.bug.log
pyarmor_runtime_000000/

# License Generator files
saved_licenses.json